.row.col.s12.m6.card.card-content
  %table.centered.striped
    %thead
      %tr
        %th{"data-field" => "id"} Bloque
        -for day in @week 
          %th{"data-field" => "name"} 
            = day
    %tbody
      -for timeBlock in @timeBlocks
        %tr
          %td 
            %strong= timeBlock.name
          -for block in Block.where(timeBlock: timeBlock).order(:weekday)
            %td
              -for shift in block.shifts
                = shift.employee.name 
                %br